{
  "openapi": "3.1.0",
  "info": {
    "title": "iFixTeck Online Orders API",
    "version": "1.1.1",
    "description": "Read and update the same financial records shown in the iFixTeck Financial Workspace. Authenticate with the saved Bearer API key. Use checkTrackerConnection to verify authentication. Record bill payments only through bill payment actions; never duplicate them as tracker expenses."
  },
  "servers": [
    {
      "url": "https://selldiabetics.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "TrackerEntry": {
        "type": "object",
        "properties": {
          "month": { "type": "string", "example": "2026-09" },
          "entry_type": { "type": "string", "enum": ["Phone Profit", "Expense", "Cash In", "Cash Out"] },
          "entry_date": { "type": "string", "format": "date" },
          "category": { "type": "string" },
          "source": { "type": "string" },
          "phone_model": { "type": "string" },
          "quantity": { "type": "integer", "minimum": 1 },
          "amount": { "type": "number", "minimum": 0, "description": "Total amount for this entry, not per device. Phone Profit is after phone purchase cost." },
          "description": { "type": "string" },
          "notes": { "type": "string" }
        },
        "required": ["entry_type", "amount"]
      },
      "MonthlySettings": {
        "type": "object",
        "description": "Only supplied fields are changed. Omitted budgets and notes are preserved.",
        "properties": {
          "month": { "type": "string", "example": "2026-09" },
          "monthly_budget": { "type": "number", "minimum": 0 },
          "food_budget": { "type": "number", "minimum": 0 },
          "notes": { "type": "string" }
        },
        "required": ["month"]
      },
      "Bill": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "amount": { "type": "number", "minimum": 0 },
          "due_date": { "type": "string", "format": "date" },
          "category": { "type": "string" },
          "payment_method": { "type": "string" },
          "is_monthly": { "type": "boolean" },
          "long_term_months": { "type": "integer", "minimum": 0 },
          "long_term_balance": { "type": "number", "minimum": 0 },
          "notes": { "type": "string" }
        },
        "required": ["title", "amount"]
      },
      "BillStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["Paid", "Unpaid"] }
        },
        "required": ["status"]
      },
      "BillPayment": {
        "type": "object",
        "properties": {
          "amount": { "type": "number", "minimum": 0.01 },
          "payment_date": { "type": "string", "format": "date" },
          "payment_method": { "type": "string" },
          "notes": { "type": "string" }
        },
        "required": ["amount"]
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/online-orders-me": {
      "get": {
        "operationId": "checkTrackerConnection",
        "summary": "Check the saved tracker API connection",
        "description": "Read-only authentication check. A successful response contains ok=true and portal=online_orders. Then use getMonthlyTracker and getBills to verify record access.",
        "responses": {
          "200": { "description": "Authenticated tracker connection" },
          "401": { "description": "The saved API key is missing or invalid" }
        }
      }
    },
    "/api/online-monthly-tracker": {
      "get": {
        "operationId": "getMonthlyTracker",
        "summary": "Get monthly tracker entries and settings",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "example": "2026-09" }
          },
          {
            "name": "history_months",
            "in": "query",
            "description": "Also return history_entries for this many reporting months, including the selected month.",
            "schema": { "type": "integer", "minimum": 1, "maximum": 12, "default": 1 }
          }
        ],
        "responses": {
          "200": { "description": "Monthly tracker data" }
        }
      },
      "post": {
        "operationId": "addMonthlyTrackerEntry",
        "summary": "Add a profit, expense, cash in, or cash out entry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TrackerEntry" }
            }
          }
        },
        "responses": {
          "200": { "description": "Tracker entry added" }
        }
      }
    },
    "/api/online-monthly-tracker/settings": {
      "patch": {
        "operationId": "updateMonthlyTrackerSettings",
        "summary": "Update monthly budget and food budget settings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MonthlySettings" }
            }
          }
        },
        "responses": {
          "200": { "description": "Monthly settings updated" }
        }
      }
    },
    "/api/online-monthly-tracker/{id}": {
      "patch": {
        "operationId": "editMonthlyTrackerEntry",
        "summary": "Correct an existing profit, expense, or cash entry",
        "description": "Only supplied fields change. Amount is a positive total for the entry, not a per-phone amount. Bill payments must be recorded through bill payment actions, not duplicated as expenses.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "month": { "type": "string", "example": "2026-09" },
                  "entry_type": { "type": "string", "enum": ["Phone Profit", "Expense", "Cash In", "Cash Out"] },
                  "entry_date": { "type": "string", "format": "date" },
                  "amount": { "type": "number", "exclusiveMinimum": 0 },
                  "quantity": { "type": "integer", "minimum": 1 },
                  "category": { "type": "string" },
                  "source": { "type": "string" },
                  "phone_model": { "type": "string" },
                  "description": { "type": "string" },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated entry" },
          "400": { "description": "Invalid fields" },
          "404": { "description": "Entry not found" }
        }
      },
      "delete": {
        "operationId": "deleteMonthlyTrackerEntry",
        "summary": "Delete a tracker entry by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Tracker entry deleted" }
        }
      }
    },
    "/api/online-payables": {
      "get": {
        "operationId": "getBills",
        "summary": "Get bills",
        "responses": {
          "200": { "description": "Bills list" }
        }
      },
      "post": {
        "operationId": "addBill",
        "summary": "Add a bill",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Bill" }
            }
          }
        },
        "responses": {
          "200": { "description": "Bill added" }
        }
      }
    },
    "/api/online-payables/{id}/status": {
      "patch": {
        "operationId": "setBillStatus",
        "summary": "Mark a bill paid or unpaid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BillStatus" }
            }
          }
        },
        "responses": {
          "200": { "description": "Bill status updated" }
        }
      }
    },
    "/api/online-payables/{id}/payments": {
      "post": {
        "operationId": "addBillPartialPayment",
        "summary": "Record a full or partial payment toward a bill",
        "description": "Use the bill ID from getBills. Supply the actual payment date when backdating. This updates paid amount, remaining balance, and the financial ledger automatically; do not add a duplicate Expense entry.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BillPayment" }
            }
          }
        },
        "responses": {
          "200": { "description": "Partial payment added" }
        }
      }
    },
    "/api/online-payables/{id}": {
      "delete": {
        "operationId": "deleteBill",
        "summary": "Delete a bill by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Bill deleted" }
        }
      }
    }
  }
}
